<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:1400/1*cGDDA2mfYkjiIhGaN8gDoA.png"
      alt=""
      height="264px"
    />
  </div>
  <a href=""></a>
  <div class="big-card__title">
    <h1><a href="#">Nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">
      Angular é um framework de desenvolvimento web criado pelo Google. Ele permite construir aplicações front-end dinâmicas com HTML, CSS e TypeScript.
    </a></p>
  </div>
</div>
